# Consistency checks - orders_products_prior

### List of contents
    1. Importing file
    2. Changing column type
    3. Missing values?
    4. Duplicates?
    5. Exploring Categorical Columns
    6. Final check
    7. Exporting files

## Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

## Creating path for folder

In [5]:
path = r'/Users/ceciliamoura/Desktop/Career Foundry/Achievement4/Instacart Basket Analysis'

## 1. Importing file

In [9]:
# Importing original file - orders_products_prior

In [13]:
prior = pd.read_csv(os.path.join (path, 'Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [15]:
prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
prior.shape

(32434489, 4)

In [19]:
prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

## 2.Changing column type

In [22]:
# 'product_id' changed from int64 to object

prior['product_id'] = prior['product_id'].astype('str')

In [24]:
# 'order_id' changed from int64 to object

prior['order_id'] = prior['order_id'].astype('str')

In [26]:
# checking procedures
prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           object
 1   product_id         object
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(2), object(2)
memory usage: 989.8+ MB

## 3. Missing values?

In [28]:
prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [32]:
# No missing values found

## 4. Duplicates?

In [40]:
dups = prior[prior.duplicated()]

In [35]:
dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [38]:
# no duplicates found

## 5. Exploring numerical columns

In [43]:
prior[['add_to_cart_order','reordered']].describe()

       add_to_cart_order     reordered
count       3.243449e+07  3.243449e+07
mean        8.351076e+00  5.896975e-01
std         7.126671e+00  4.918886e-01
min         1.000000e+00  0.000000e+00
25%         3.000000e+00  0.000000e+00
50%         6.000000e+00  1.000000e+00
75%         1.100000e+01  1.000000e+00
max         1.450000e+02  1.000000e+00

In [54]:
# all look good

## 6. Final Check

In [56]:
prior.shape

(32434489, 4)

In [ ]:
# before: 32434489, 4

## 7. Exporting clean file

In [58]:
prior.to_csv(os.path.join(path,'Data','Final Prepared Data', 'orders_products_prior_clean.csv'))