# Creating new column 'order_cost'

## Importing libraries

In [5]:
import pandas as pd
import numpy as np
import os

## Creating path for folder

In [7]:
path = r'/Users/ceciliamoura/Desktop/Career Foundry/Achievement4/Instacart Basket Analysis'

## Importing files

In [9]:
# Importing subset with only high activity customers

In [10]:
instacart = pd.read_pickle(os.path.join (path, 'Data', 'Final Prepared Data', 'IC_high_activity.pkl'))

In [11]:
instacart.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'order_number', 'order_day_of_week', 'order_time',
       'days_since_prior_order', 'product_name', 'aisle_id', 'department_id',
       'prices', 'Gender', 'State', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income', 'max_order', 'max_order_per_user',
       'products_per_order'],
      dtype='object')

In [12]:
instacart.shape

(30963518, 23)

## 1. Creating new columns 'order_cost'

In [14]:
# Creating a new column: 'order_cost'

instacart['order_cost'] = instacart.groupby(['order_id'])['prices'].transform(np.sum)

/var/folders/30/j2w0rj9n75x1by3sr86s740h0000gn/T/ipykernel_55910/4124736161.py:3: FutureWarning: The provided callable <function sum at 0x105875120> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  instacart['order_cost'] = instacart.groupby(['order_id'])['prices'].transform(np.sum)

In [15]:
instacart.loc[instacart['order_id'] == '2']

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,product_name,...,State,Age,date_joined,n_dependants,fam_status,income,max_order,max_order_per_user,products_per_order,order_cost
0,2,33120,1,1,202279,3,5,9,8,Organic Egg Whites,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
1,2,28985,2,1,202279,3,5,9,8,Michigan Organic Kale,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
2,2,9327,3,0,202279,3,5,9,8,Garlic Powder,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
3,2,45918,4,1,202279,3,5,9,8,Coconut Butter,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
4,2,30035,5,0,202279,3,5,9,8,Natural Sweetener,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
5,2,17794,6,1,202279,3,5,9,8,Carrots,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
6,2,40141,7,1,202279,3,5,9,8,Original Unflavored Gelatine Mix,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
7,2,1819,8,1,202279,3,5,9,8,All Natural No Stir Creamy Almond Butter,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6
8,2,43668,9,0,202279,3,5,9,8,Classic Blend Cole Slaw,...,Idaho,57,2/6/2020,3,married,98119,8,8,9,91.6

In [16]:
# Creating a subset for economical analysis

economy = instacart[['order_id', 'products_per_order', 'order_cost']]

In [17]:
economy.loc[economy['order_id'] == '2']

  order_id  products_per_order  order_cost
0        2                   9        91.6
1        2                   9        91.6
2        2                   9        91.6
3        2                   9        91.6
4        2                   9        91.6
5        2                   9        91.6
6        2                   9        91.6
7        2                   9        91.6
8        2                   9        91.6

In [18]:
grouped_order_id = economy.groupby('order_id')

In [19]:
grouped_order_id

## 2. Exporting

In [21]:
instacart.to_pickle(os.path.join(path, 'Data', 'Final Prepared Data', 'IC_high_activity_2.pkl'))