# Merging 3 - customer_secured_clean and orders_products_merged

## Resulting in ords_prods_all

### List of contents
1. Importing file
2. Merging files
3. Dropping unwanted columns
4. Exporting

## Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

## Creating path for folder

In [13]:
path = r'/Users/ceciliamoura/Desktop/Career Foundry/Achievement4/Instacart Basket Analysis'

## 1.Importing files

In [24]:
# Importing customer_secured_clean

In [17]:
cust = pd.read_csv(os.path.join (path, 'Data', 'Final Prepared Data', 'customer_secured_clean.csv'), index_col = False)

In [19]:
cust.head()

,Unnamed: 0,user_id,Gender,State,Age,date_joined,n_dependants,fam_status,income
0,0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,4,130797,Female,Maryland,26,1/1/2017,1,married,40374

In [21]:
cust.shape

(206209, 9)

In [26]:
# Importing orders_products_merged

merged = pd.read_pickle(os.path.join (path, 'Data', 'Final Prepared Data', 'orders_products_merged.pkl'))

In [28]:
merged.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,product_name,aisle_id,department_id,prices
0,2,33120,1,1,202279,3,5,9,8,Organic Egg Whites,86,16,11.3
1,2,28985,2,1,202279,3,5,9,8,Michigan Organic Kale,83,4,13.4
2,2,9327,3,0,202279,3,5,9,8,Garlic Powder,104,13,3.6
3,2,45918,4,1,202279,3,5,9,8,Coconut Butter,19,13,8.4
4,2,30035,5,0,202279,3,5,9,8,Natural Sweetener,17,13,13.7

In [30]:
merged.shape

(32403719, 13)

## 2. Merging files

In [34]:
# key: user_id
# first dataframe = merged
# second dataframe = cust
# combined dataframe = ords_prods_all

ords_prods_all = merged.merge(cust, on = 'user_id', how = 'inner', indicator = True)

In [36]:
# Checking _merge flag

ords_prods_all['_merge'].value_counts()

_merge
both          32403719
left_only            0
right_only           0
Name: count, dtype: int64

In [38]:
#checking new merged file

ords_prods_all.shape

(32403719, 22)

In [42]:
#comparing to merged file

merged.shape

(32403719, 13)

In [40]:
ords_prods_all.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,product_name,...,prices,Unnamed: 0,Gender,State,Age,date_joined,n_dependants,fam_status,income,_merge
0,2,33120,1,1,202279,3,5,9,8,Organic Egg Whites,...,11.3,196437,Male,Idaho,57,2/6/2020,3,married,98119,both
1,2,28985,2,1,202279,3,5,9,8,Michigan Organic Kale,...,13.4,196437,Male,Idaho,57,2/6/2020,3,married,98119,both
2,2,9327,3,0,202279,3,5,9,8,Garlic Powder,...,3.6,196437,Male,Idaho,57,2/6/2020,3,married,98119,both
3,2,45918,4,1,202279,3,5,9,8,Coconut Butter,...,8.4,196437,Male,Idaho,57,2/6/2020,3,married,98119,both
4,2,30035,5,0,202279,3,5,9,8,Natural Sweetener,...,13.7,196437,Male,Idaho,57,2/6/2020,3,married,98119,both

## 3. Dropping unwanted columns

In [50]:
ords_prods_all = ords_prods_all.drop(columns = ['Unnamed: 0', '_merge'])

In [52]:
# checking procedure

ords_prods_all.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'order_number', 'order_day_of_week', 'order_time',
       'days_since_prior_order', 'product_name', 'aisle_id', 'department_id',
       'prices', 'Gender', 'State', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income'],
      dtype='object')

In [54]:
ords_prods_all.shape

(32403719, 20)

In [56]:
ords_prods_all.dtypes

order_id                    int64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
user_id                     int64
order_number                int64
order_day_of_week           int64
order_time                  int64
days_since_prior_order      int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
Gender                     object
State                      object
Age                         int64
date_joined                object
n_dependants                int64
fam_status                 object
income                      int64
dtype: object

In [58]:
# I will switch columns: order_id, product_id and user_id into object

In [60]:
# 'order_id' changed from int64 to object

ords_prods_all['order_id'] = ords_prods_all['order_id'].astype('str')

In [62]:
# 'user_id' changed from int64 to object

ords_prods_all['user_id'] = ords_prods_all['user_id'].astype('str')

In [64]:
# 'product_id' changed from int64 to object

ords_prods_all['product_id'] = ords_prods_all['product_id'].astype('str')

In [68]:
# Checking procedure

ords_prods_all.dtypes

order_id                   object
product_id                 object
add_to_cart_order           int64
reordered                   int64
user_id                    object
order_number                int64
order_day_of_week           int64
order_time                  int64
days_since_prior_order      int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
Gender                     object
State                      object
Age                         int64
date_joined                object
n_dependants                int64
fam_status                 object
income                      int64
dtype: object

## 4. Exporting combined file

In [70]:
ords_prods_all.to_pickle(os.path.join(path, 'Data','Final Prepared Data', 'ords_prods_all.pkl'))