# Dropping low activity customers from data

## Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

## Creating path for folder

In [6]:
path = r'/Users/ceciliamoura/Desktop/Career Foundry/Achievement4/Instacart Basket Analysis'

## Importing files

In [9]:
# Importing ords_prods_all

In [15]:
instacart = pd.read_pickle(os.path.join (path, 'Data', 'Final Prepared Data', 'ords_prods_all.pkl'))

In [16]:
instacart.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,product_name,aisle_id,department_id,prices,Gender,State,Age,date_joined,n_dependants,fam_status,income
0,2,33120,1,1,202279,3,5,9,8,Organic Egg Whites,86,16,11.3,Male,Idaho,57,2/6/2020,3,married,98119
1,2,28985,2,1,202279,3,5,9,8,Michigan Organic Kale,83,4,13.4,Male,Idaho,57,2/6/2020,3,married,98119
2,2,9327,3,0,202279,3,5,9,8,Garlic Powder,104,13,3.6,Male,Idaho,57,2/6/2020,3,married,98119
3,2,45918,4,1,202279,3,5,9,8,Coconut Butter,19,13,8.4,Male,Idaho,57,2/6/2020,3,married,98119
4,2,30035,5,0,202279,3,5,9,8,Natural Sweetener,17,13,13.7,Male,Idaho,57,2/6/2020,3,married,98119

In [17]:
instacart.shape

(32403719, 20)

## 1. Creating new columns 'max_order_per_user' and 'products_per_order'

In [34]:
# Creating a new column: 'max_order_per_user'

instacart['max_order_per_user'] = instacart.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/30/j2w0rj9n75x1by3sr86s740h0000gn/T/ipykernel_38193/2515578742.py:3: FutureWarning: The provided callable <function max at 0x10642fa60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  instacart['max_order_per_user'] = instacart.groupby(['user_id'])['order_number'].transform(np.max)

In [36]:
# Creating a new column with count of products per order

instacart['products_per_order'] = instacart.groupby(['order_id'])['product_id'].transform('count')

In [38]:
instacart.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'order_number', 'order_day_of_week', 'order_time',
       'days_since_prior_order', 'product_name', 'aisle_id', 'department_id',
       'prices', 'Gender', 'State', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income', 'max_order', 'max_order_per_user',
       'products_per_order'],
      dtype='object')

In [40]:
instacart.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,product_name,...,Gender,State,Age,date_joined,n_dependants,fam_status,income,max_order,max_order_per_user,products_per_order
0,2,33120,1,1,202279,3,5,9,8,Organic Egg Whites,...,Male,Idaho,57,2/6/2020,3,married,98119,8,8,9
1,2,28985,2,1,202279,3,5,9,8,Michigan Organic Kale,...,Male,Idaho,57,2/6/2020,3,married,98119,8,8,9
2,2,9327,3,0,202279,3,5,9,8,Garlic Powder,...,Male,Idaho,57,2/6/2020,3,married,98119,8,8,9
3,2,45918,4,1,202279,3,5,9,8,Coconut Butter,...,Male,Idaho,57,2/6/2020,3,married,98119,8,8,9
4,2,30035,5,0,202279,3,5,9,8,Natural Sweetener,...,Male,Idaho,57,2/6/2020,3,married,98119,8,8,9

## 2. Flagging low-activity customer and creating a subset excluding them

In [ ]:
# Defining low activity as customers with < 5 orders

In [44]:
user_activity_flag =  [
    'low_activity' if value < 5 else
    'high_activity'
    for value in instacart['max_order_per_user']
]

In [46]:
instacart['user_activity'] = user_activity_flag

In [48]:
instacart['user_activity'].value_counts(dropna = False)

user_activity
high_activity    30963518
low_activity      1440201
Name: count, dtype: int64

In [ ]:
# Most users have a high activity, BUT some New customers might be included in the definition of low_activity

In [50]:
# Creating a subset without low_activity customers

high_activity_instacart =  instacart[instacart['user_activity']=='high_activity']

In [52]:
#Checking numbers

high_activity_instacart['user_activity'].value_counts(dropna = False)

user_activity
high_activity    30963518
Name: count, dtype: int64

In [54]:
# same number of 'high_activities' observation in the original df.

In [56]:
high_activity_instacart.shape

(30963518, 24)

In [60]:
# dropping column ['user_activity'] before exporting the file

high_activity_instacart_final = high_activity_instacart.drop(['user_activity'], axis=1)

In [62]:
high_activity_instacart_final.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'order_number', 'order_day_of_week', 'order_time',
       'days_since_prior_order', 'product_name', 'aisle_id', 'department_id',
       'prices', 'Gender', 'State', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income', 'max_order', 'max_order_per_user',
       'products_per_order'],
      dtype='object')

## 3. Exporting new subset without low_activity customers

In [72]:
high_activity_instacart_final.to_pickle(os.path.join(path, 'Data', 'Final Prepared Data', 'IC_high_activity.pkl'))